<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form [formGroup]="loginform"(ngSubmit)="login()">
        
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <!-- <img class="mb-2"  src="C:\Users\sarthakj\Downloads\5087607.png" > -->
              <!-- <a href="" title="login icons">Login icons created by berkahicon - Flaticon</a> -->                                              
              <h3 class="mb-5">Login</h3>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <label class="form-label" for="typeEmailX-2">Email</label>
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <span *ngIf="submitted && f['email'].errors['required']">
                    Please enter your email
                  </span>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                    formControlName="pass"
                    [ngClass]="{ 'is-invalid': submitted && f['pass'].errors }" />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                  <div *ngIf="submitted && f['pass'].errors" class="invalid-feedback">
                    <span *ngIf="submitted && f['pass'].errors['required']">
                      Please enter your password
                    </span>
                  </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block"  type="submit" (click)="login()"
                >LOGIN</button>
                <p class="text-center text-muted mt-5 mb-0">Don't have account? <a routerLink="/signin" class="fw-bold text-body"><u>Signup here</u></a></p>
                <hr class="my-4">
              </div>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>